# Environments
.env
.venv/
venv/
env/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Pytest
.pytest_cache/
htmlcov/
.coverage
.coverage.*
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# FastAPI / db
*.db
*.sqlite3

# IDEs
.idea/
.vscode/
*.swp
*.swo

# macOS
.DS_Store

# seed_db.py
seed_db.py

# Uploads
uploads/